body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.container {
  width: 95%;
  max-width: 600px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
  box-shadow: 0 0 20px rgba(255,255,255,0.05);
}

.price {
  font-size: 40px;
  margin: 10px 0;
  font-weight: bold;
}

.change {
  font-size: 18px;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 12px;
  background: #38bdf8;
  border: 0;
  color: black;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}
